
body {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: lighter;
  margin: 0;
}

.container {
  margin-top: 2em;
}

.title-skills {
  font-size: 2em;
  margin-top: 4em;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  transition: all 400ms ease-in-out;
  margin: 4rem auto;
  text-align: center;
}

.bar {
  width: 80%;
  margin: 2em auto;
}

.skill {
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

.speech-bubble {
  font-size: 0.75em;
  line-height: 2em;
  position: absolute;
  top: -2.7em;
  text-align: center;
  min-width: 3em;
  border-radius: 0.3em;
  display: none;
}

.html, .scss, .admin, .jira, .git, .bootstrap {
  left: calc(90% - 1.5em);
}

.javascript, .react, .vue, .next {
  left: calc(80% - 1.5em);
}

.node, .express {
    left: calc(65% - 1.5em);
}

.vue {
    left: calc(80% - 1.5em);
}

.php, .symfony {
    left: calc(70% - 1.5em);
}

.speech-bubble:after {
  border: 0.5em solid transparent;
  content: "";
  margin-left: -0.5em;
  position: absolute;
  top: 100%;
  left: 50%;
}

.bar-outer {
  height: 1.25em;
  background: #EEEEEE;
  position: relative;
  border-radius: 0.3em;
}

.bar-inner {
  width: 0;
  height: 1.25em;
  border-radius: 0.3em;
}

.ht, .html {
  background: black;
  border: 1px solid white
}

.html:after {
  border-top-color: white;
}

.sc, .scss {
  background: black;
  border: 1px solid white
}

.scss:after {
  border-top-color: white;
}

.js, .javascript {
  background: black;
  border: 1px solid white
}

.javascript:after {
  border-top-color: white;
}
.rt, .react {
    background: black;
    border: 1px solid white
}
.react:after {
    border-top-color: white;
}
.nd, .node {
    background: black;
    border: 1px solid white
}
.node:after {
    border-top-color: white;
}
.ex, .express {
    background: black;
    border: 1px solid white
}
.express:after {
    border-top-color: white;
}
.vj, .vue {
    background: black;
    border: 1px solid white
}
.vue:after {
    border-top-color: white;
}
.ph, .php {
    background: black;
    border: 1px solid white
}
.php:after {
    border-top-color: white;
}

.sy, .symfony {
  background: black;
  border: 1px solid white
}

.symfony:after {
  border-top-color: white;
}

.nex, .next {
  background: black;
  border: 1px solid white
}

.next:after {
  border-top-color: white;
}

.bt, .bootstrap {
  background: black;
  border: 1px solid white
}

.bootstrap:after {
  border-top-color: white;
}

.gt, .git {
  background: black;
  border: 1px solid white
}

.git:after {
  border-top-color: white;
}
.adm, .admin {
    background: black;
    border: 1px solid white
}
  
.admin:after {
    border-top-color: white;
}
.ja, .jira {
    background: black;
    border: 1px solid white
}
  
.jira:after {
    border-top-color: white;
}

/* Canvas Animation */
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
canvas{
  background-color:  #0f0f0f;
}
