.contact_form {
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
}
.line {
	border: 1px solid white;
	width: 200px;
}
.info {
	text-align: right;
	font-size: 13px;
	margin-right: 5px;
}
@media (max-width:600px){
	.contact_form{
		flex-direction: column;
	}
	.contact_title {
		display: none;
	}
	.address_info {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.info {
		text-align: center;
		padding-top:2rem;
	}		
}